<!DOCTYPE html> 
  
<html> 
<body style = "background: gray;"> 
<div align="center" style="padding: 50px;">
<h2>Type of Brain Tumor is:</h2>
<h1>{{ ss }}</h1>
<a href="https://www.esmo.org/for-patients/patient-guides/glioma">Glioma Tumor Information</a><br>
<a href="https://www.mayoclinic.org/diseases-conditions/pituitary-tumors/diagnosis-treatment/drc-20350553">Pituitary Tumor Information</a><br>
<a href="https://www.cancer.gov/rare-brain-spine-tumor/tumors/meningioma#:~:text=The%20first%20treatment%20for%20a,receive%20additional%20treatments%20after%20surgery.">Meningioma Tumor Information</a>
</div>
</body> 
</html>